In [1]:
# getting this code from postman
import requests
import pandas as pd

url = "https://www.worldcup2018.hockey/admin/api/v1/matches/get-match-statics-list"

payload = {
  "perPage": "200",
  "page": 1,
  "competition_ids": [
    1296,
    1295
  ],
  "team_id": [],
  "venus_id": []
}
headers = {
  'Content-Type': 'application/json',
  'Cookie': 'AWSELB=E7D97B4314FA26C81AC086FF58630988BE484265E5374D256569558AF614CC99D266B72FDD595D0A0485F1CEF3237F07E8299A0DF7B22B0E292E8C4257E382CEDA0A3BCACF; AWSELBCORS=E7D97B4314FA26C81AC086FF58630988BE484265E5374D256569558AF614CC99D266B72FDD595D0A0485F1CEF3237F07E8299A0DF7B22B0E292E8C4257E382CEDA0A3BCACF'
}

response = requests.request("POST", url, headers=headers, data=payload)

print(response)

<Response [200]>

In [2]:
hockey_df = pd.DataFrame(response.json()['data'])
hockey_df

,id,competition_id,date,time,datetimeutc,clock_started,clock_elapsed,period,status,status2,...,hometitle,awaytitle,slug,live_link,matchDescription,currentTeam,verseTeam,pool,currentTeamPlayer,verseTeamPlayer
0,26,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 12, 'name': 'Belgium', 'code': 'BEL', '...","{'id': 13, 'name': 'Denmark', 'code': 'DEN', '...",Pool A,{},{}
1,23,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 17, 'name': 'India', 'code': 'IND', 'st...","{'id': 11, 'name': 'Austria', 'code': 'AUT', '...",Pool A,{},{}
2,24,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 13, 'name': 'Denmark', 'code': 'DEN', '...","{'id': 11, 'name': 'Austria', 'code': 'AUT', '...",Pool A,{},{}
3,13,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 12, 'name': 'Belgium', 'code': 'BEL', '...","{'id': 11, 'name': 'Austria', 'code': 'AUT', '...",Pool A,{},{}
4,14,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 19, 'name': 'Switzerland', 'code': 'SUI...","{'id': 11, 'name': 'Austria', 'code': 'AUT', '...",Pool A,{},{}
5,16,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 17, 'name': 'India', 'code': 'IND', 'st...","{'id': 19, 'name': 'Switzerland', 'code': 'SUI...",Pool A,{},{}
6,17,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 15, 'name': 'France', 'code': 'FRA', 's...","{'id': 14, 'name': 'Spain', 'code': 'ESP', 'st...",Pool B,{},{}
7,18,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 12, 'name': 'Belgium', 'code': 'BEL', '...","{'id': 19, 'name': 'Switzerland', 'code': 'SUI...",Pool A,{},{}
8,19,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 17, 'name': 'India', 'code': 'IND', 'st...","{'id': 12, 'name': 'Belgium', 'code': 'BEL', '...",Pool A,{},{}
9,20,3,1899-11-30,00:00:00,1899-11-30 00:00:00,0,0,None,Official,Official,...,None,None,,,,"{'id': 17, 'name': 'India', 'code': 'IND', 'st...","{'id': 13, 'name': 'Denmark', 'code': 'DEN', '...",Pool A,{},{}