# Webscrapping

**Wesite Name** - [skysports](https://www.skysports.com/premier-league-table)

**NOTES:-**

Scrapping only Team Name and point.

In [1]:
## Package Requirements

!pip install beautifulsoup4
!pip install requests
!pip install pandas

Requirement already satisfied: beautifulsoup4 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from beautifulsoup4) (2.4.1)
Requirement already satisfied: requests in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from requests) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from requests) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from requests) (1.26.15)
Requirement already satisfied: pandas in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/abhisheknegi/opt/anaconda3/envs/dorami/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.12.0)

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.skysports.com/premier-league-table'

# Send HTTP GET request to the specified URL
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

# Find the league table within the HTML using the specified class name
league_table = soup.find('table', class_='standing-table__table callfn')

league_table_point = []

# Iterate over each team in the league table
for team in league_table.find_all('tbody'):
    rows = team.find_all('tr')
    
    # Iterate over each row in the table body
    for row in rows:
        # Extract the team name and points from the respective cells
        p1_team = row.find('a', class_='standing-table__cell--name-link').text
        p1_points = row.find_all('td', class_='standing-table__cell')[9].text
        
        # Create a dictionary to store the team name and points
        p1_data = {
            'Team': p1_team,
            'Points': p1_points
        }
        
        # Append the team data to the league_table_point list
        league_table_point.append(p1_data)  # Store the team data

In [4]:
# Convert the list of dictionaries to a pandas DataFrame
league_data_frame = pd.DataFrame(league_table_point)

league_data_frame

                        Team Points
0                    Arsenal      0
1                Aston Villa      0
2                Bournemouth      0
3                  Brentford      0
4   Brighton and Hove Albion      0
5                    Burnley      0
6                    Chelsea      0
7             Crystal Palace      0
8                    Everton      0
9                     Fulham      0
10                 Liverpool      0
11                Luton Town      0
12           Manchester City      0
13         Manchester United      0
14          Newcastle United      0
15         Nottingham Forest      0
16          Sheffield United      0
17         Tottenham Hotspur      0
18           West Ham United      0
19   Wolverhampton Wanderers      0